$bgcolor: #022126;
$blue: #05899E;
$green: #4C9770;
$white-blue: #DBF3F7;
$gradient: linear-gradient(-45deg, $green 0%, $blue 100%);


%flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*{
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $white-blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    overflow-y: scroll;
}
body{
    background-color: $bgcolor;
    overflow: hidden;

}
a{
    font-size: 20pt;
    text-decoration: none;
    color: $white-blue;
    border-radius: 30px;
    display: block;
    padding: 10px;
    box-sizing: content-box;
}

/*.nav{
    background: linear-gradient(-45deg, $green 0%, $blue 100%);
    border-radius: 100px;
    position: fixed;
    transition: ease-in-out 0.5s;
    padding: 60px 20px 20px 20px;
    overflow: hidden;

    &__text{
        text-align: center; 
        visibility: hidden;
        transition: ease-in-out 0.5s;
        transform: scale(0);

        h1{ 
            color: $white-blue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20pt;
            line-height: 40pt;
        }
    }
    &__icon{
        margin: auto;
        margin-top: 30%;
        width: 40%;
        height: 40%;
        transition: ease-in-out 0.5s;
        .line{
            background: #ddd;
            height: 20px;
            width: 100px;
            margin-bottom: 30px;
            transition: 1s;
            position: absolute;
            z-index: 10;
        
        }
            &-1{
                transform: translateY(20px);
        
            }
            &-2{
                transform: translateY(60px);
        
            }
    &_active{
        transition: ease-in-out 0.5s;
        transform: scale(1);

        .nav__text{
            transition: ease-in-out 0.5s;
            transform: scale(1);
        }
        .nav__icon{

            .line-1{
                transform: translateY(40px) rotate(45deg);            
            }
            .line-2{
                transform: translateY(40px) rotate(-45deg);            
            }
        }
        }
    }

}
*/
.about{
    width: 100%;
    height: 1200px;
    margin-top: 100px;
    background: url(img/Group\ 20.png) no-repeat center;
    &__text{
        padding: 0 200px;
        width: 70%;

        h1{
            font-size: 50pt;
            margin-top: 50px;
            margin-bottom: 200px;
        }
        p{
            font-size: 20pt;
        }
    }
    &__img{

    }

}

.my-projects{
    background: url(img/Group\ 21.png) no-repeat center;
    width: 100%;
    height: 1700px;
    margin-top: 10%;
    &__text{
        text-align: center;
        h1{
            font-size: 50pt;
            margin-bottom: 200px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 50%;
        margin: auto;
        .card{

            flex: 1;
            height: 45%;
            border-radius: 20px;
            transition: ease-in-out 0.5s;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            div{
                backdrop-filter: invert(10%) brightness(60%) blur(5px);
                opacity: 1;
                height: 100%;
                width: 50%; 
                align-items: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border-radius: 20px
              
            }
            h1{

                font-size: 25pt;
                color: $white-blue;
            }
            p{


            }
            a{
                background: $gradient;
                border-radius: 50px;
                color: $white-blue;
                padding: 10px;
                opacity: 0;
                transition: all 0.3s ease-out, background-color 0.15s ease-out, color 0.15s ease-out;
                margin-top: 5px;
                visibility: hidden;
                display: none;
                &:hover{
                    background: $white-blue;
                    color: $gradient;

                }
            }

            &_active{
                flex: 7;
                box-shadow: inset 7px 7px 15px rgba(0, 0, 0, 0.5);
                transition: 0.5s ease-out;
                a{
                    opacity: 1;
                    visibility: visible;
                    display: block;
                }
                p{

                }
            }
        }
    }

}